<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Editor</title>
  <style type="text/css" media="screen">
    html {
       <!-- able webpage to scroll -->
        overflow-y: scroll;
    }

    body {
        overflow: hidden;
        transform: translateZ(0);
    }

    .ace_editor {
        margin: auto;
        position: relative !important;
        height: 500px;
        width: auto;
    }

    .scrollmargin {
        height: 100px;
        text-align: center;
    }

    .button {
        color: lightblue;
        cursor: pointer;
        font: 15px arial;
        padding: 10px;
        text-align: center;
        border: medium solid transparent;
        display: inline-block;
    }

    .button:hover {
        border: medium solid lightgray;
        border-radius: 2px 2px 2px 2px;
        box-shadow: 0 0 12px 0 lightblue;
    }

  </style>
</head>
<body>

<!-- precontent in the editor -->
<pre id="editor">
    print "Hello World"
</pre>

<!-- Run button: trigger send() function when click -->
<div class="margin">
    <span onclick="send()" class="button">
        RUN
    </span>
</div>

<!-- precontent in the console -->
<pre id="editor2">
    >>>
</pre>

<script src="src-noconflict/ace.js" type="text/python" charset="utf-8"></script>

<script>
    //create first editor
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/twilight");
    editor.session.setMode("ace/mode/python");
    editor.renderer.setScrollMargin(10, 10);
    editor.setOptions({
      autoScrollEditorIntoView: true
    });

    function display(){
      var input= editor.getValue();
      document.write(input);
    }

    //create the console
    var editor2 = ace.edit("editor2");
    editor2.setOptions({
        mode: "ace/mode/python",
        theme: "ace/theme/twilight",
        autoScrollEditorIntoView: true
    });
    editor2.renderer.setShowGutter(false);
    var input= editor.getValue();
    editor2.setValue(">>>" + input);

    //Run button's send()function 
    function send(){
      window.location.href = "https://github.com/CS121Fresh/Coconut-Interpreter";
    }

    function scroll(speed) {
      var top = editor.container.getBoundingClientRect().top
      speed = speed || 10
      if (top > 60 && speed < 500) {
          if (speed > top - speed - 50)
              speed = top - speed - 50
          else
            setTimeout(scroll, 10, speed + 10)
            window.scrollBy(0, speed)
      }
    }

window.scroll = scroll;
</script>

</body>
</html>
