<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <title>Editor</title>
  <style type="text/css" media="screen">
    html {
        overflow-y: scroll;
    }

    body {
        overflow: hidden;
        transform: translateZ(0);
    }

    .ace_editor {
        margin: auto;
        position: relative !important;
        height: 500px;
        width: auto;
    }

    .scrollmargin {
        height: 100px;
        text-align: center;
    }

    .button {
        color: lightblue;
        cursor: pointer;
        font: 15px arial;
        padding: 10px;
        text-align: center;
        border: medium solid transparent;
        display: inline-block;
    }

    .button:hover {
        border: medium solid lightgray;
        border-radius: 2px 2px 2px 2px;
        box-shadow: 0 0 12px 0 lightblue;
    }

  </style>
</head>
<body>

<pre id="editor">
    print "Hello World"
</pre>

<div class="margin">
    <span onclick="send()" class="button">
        RUN
    </span>
</div>

<pre id="editor2">
    >>>
</pre>

<script src="src-noconflict/ace.js" type="text/python" charset="utf-8"></script>
<script>
    // create first editor
    var editor = ace.edit("editor");
    editor.setTheme("ace/theme/twilight");
    editor.session.setMode("ace/mode/python");
    editor.renderer.setScrollMargin(10, 10);
    editor.setOptions({
      autoScrollEditorIntoView: true
    });

    function display(){
      var input= editor.getValue();
      document.write(input);
    }

    //create the console
    var editor2 = ace.edit("editor2");
    editor2.setOptions({
        mode: "ace/mode/python",
        theme: "ace/theme/twilight",
        autoScrollEditorIntoView: true
    });
    editor2.renderer.setShowGutter(false);
    var input= editor.getValue();
    editor2.setValue(">>>" + input);


    function sendData(data) {
      var XHR = new XMLHttpRequest();
      var urlEncodedData = "";
      var urlEncodedDataPairs = [];
      var name;

      // Turn the data object into an array of URL-encoded key/value pairs.
      for(name in data) {
        urlEncodedDataPairs.push(encodeURIComponent(name) + '=' + encodeURIComponent(data[name]));
      }

      // Combine the pairs into a single string and replace all %-encoded spaces to 
      // the '+' character; matches the behaviour of browser form submissions.
      urlEncodedData = urlEncodedDataPairs.join('&').replace(/%20/g, '+');

      // Define what happens on successful data submission
      XHR.addEventListener('load', function(event) {
        alert('Yeah! Data sent and response loaded.');
      });

      // Define what happens in case of error
      XHR.addEventListener('error', function(event) {
        alert('Oups! Something goes wrong.');
      });

      xhttp.onreadystatechange = function() {
          if (this.readyState == 4 && this.status == 200) {
            var cmd = require('node-cmd');
            const processRef=cmd.get('python -i');
            let data_line = '';             
            //listen to the python terminal output 
            processRef.stdout.on(
              'data',
              function(data) {
                data_line += data;
                if (data_line[data_line.length-1] == '\n') {
                  console.log(data_line);
                }
              }
            );
            // change this part to user input
            const pythonTerminalInput=`primes = [2, 3, 5, 7]
            for prime in primes:
                print(prime)
            `;
            //show what we are doing 
            console.log(`>>>${pythonTerminalInput}`);
            //send it to the open python terminal 
            processRef.stdin.write(pythonTerminalInput);
            document.getElementById("editor2").setValue(">>>" + XHR.responseText);
         }
      };

      // Set up our request
      XHR.open('POST', 'https://tio.run/#coconut/');

      // Add the required HTTP header for form data POST requests
      XHR.setRequestHeader('Content-Type', 'http://18.191.3.155:3001/');

      // Finally, send our data.
      XHR.send(urlEncodedData);

      document.getElementById("editor2").setValue(XHR.responseText);
    }


    function scroll(speed) {
      var top = editor.container.getBoundingClientRect().top
      speed = speed || 10
      if (top > 60 && speed < 500) {
          if (speed > top - speed - 50)
              speed = top - speed - 50
          else
            setTimeout(scroll, 10, speed + 10)
            window.scrollBy(0, speed)
      }
    }

window.scroll = scroll;
</script>

</body>
</html>
