<h1>New Code</h1>

<p>This page needs to be decorated so it looks like a console</p>
<p>We also need to add a frame for returning output, so that people</p>
<p>We will make this page to our future home page, and possibly deleteing all other links, only keeping one to show the past code implemented if needed</p>

<%= render 'form', post: @post %>

<p>After creating this goes to show page</p>

<%= link_to 'check exisiting code', posts_path %>
