<h1>New Code</h1>

<p>This page needs to be decorated so it looks like a console</p>
<p>We also need to add a frame for returning output, so that people</p>
<p>do not need to switch page to see the result</p>

<%= render 'form', post: @post %>

<p>After creating this goes to show page</p>

<%= link_to 'check exisiting code', posts_path %>
