

<p> This page need to be deleted for the future</p>
<p id="notice"><%= notice %></p>

<p>
  <strong>Code:</strong>
  <%= @post.code %>
</p>

<%= link_to 'edit', edit_post_path(@post) %> |
<%= link_to 'Save for the future use', posts_path %>
